header{
    background-color: rgb(33, 166, 243);
    width: 100%;
    height:150px;
    background-image: url('../img/pattern.png') ;
    background-repeat: repeat;
}

img.logo{
    margin-top: 90px;
    margin-bottom: 20px;
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
}

h2{
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: grey;
    margin-top: none;
    margin-bottom: none;
}

p.header{
    font-family: "Playfair Display", serif;
    font-size: 15px;
    color: grey;
    margin-top: none;
    margin-bottom: none;
}

div.descrizione{
    font-family: "Playfair Display", serif;
    font-size: 15px;
    margin-top: none;
}

.highlight{
    background-color: yellow;
}