header{
    background-color: rgb(33, 166, 243);
    width: 100%;
    height:150px;
    background-image: url('../img/pattern.png') ;
    background-repeat: repeat;
}

img.logo{
    margin-top: 70px;
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.small-font{
    font-family: "Playfair Display", serif;
    font-size: 0.75rem;
}

.subtitle{
    font-family: "Playfair Display", serif;
    color: grey;
}

p.header{
    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: 500;
    color: grey;
    margin-top: none;
    margin-bottom: none;
}

div.descrizione{
    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: none;
}

mark{
    background-color: yellow;
    color: black;
}

div.lista{
    font-family: "Playfair Display", serif;
    font-size: bolder 15px;
    margin-top: 20px;
    margin-bottom: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.table-color{
    background-color: rgb(42, 152, 241);
    color: white;
}

.t-width{
    width: 50%
}
table{
    margin-top: 30px;
    margin-bottom: 30px;
    background-repeat: repeat;
    width: 100%;
}

.table-data{
    background-color: rgb(118, 226, 240);
}

div.footer{
    font-family: "Playfair Display", serif; 
    color: grey;
}

